.spacing{
    padding: 50px;
}

.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

.font-big{
    font-family: 'Caveat';
    font-size: 2em;

}
.font-normal{
    font-family: 'Caveat';
    font-size: 1.5em;
}


.p-style{
    padding: 3rem;
    font-family: 'Caveat', cursive;
    font-size: 1.8em;
    display: flex;
    margin: auto;
}

.img-small{
    width: 100%;
    height: auto;
    justify-content: flex-start;
    object-fit: contain;
}


@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}

}

@media (min-width: 401px) {
.img-size{
    display: flex;
    width: 60%;
    height: auto;
    margin: auto;
}
.img{
    display: flex;
    margin: auto;
}

}
